* {
    margin: 0;
    padding: 0;
}

#container {
    max-width:100%;
    position: relative;
    width: 100%;
    margin: auto;
    height: 1250px;
    background: #242527;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header{
    width: 100%;
}
#content {
    padding-top: 120px;
    width: 100%;
    margin-bottom: 200px;
    height: 500px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#menu {
    position: absolute;
    width: 100%;
    height: 73px;
    top: -3px;
    background: #0F0D0D;
    opacity: 0.0 - 1.0;
}

.logo img {
    position: absolute;
    width: 138px;
    height: 108px;
    left: -15px;
    top: -16px;

    background: url(logo.png);
}

.p {
    position: absolute;
    width: 285px;
    height: 26px;
    left: 83px;
    top: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

}

.p a {
    text-decoration: none;
    color: #FFFFFF;
}

#menu ul {
    list-style: none;
    float: left;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 300px;
    margin-top: 20px;
}

#menu ul li {
    display: inline;
    margin-left: 100px;
    line-height: 45px;
}

#menu ul li a {
    text-decoration: none;
    color: #fff;



}

#menu ul li a:hover {
    color: blueviolet;
}

#menu ul li .dam {
    color: rgb(38, 38, 171);
}

.layout img {
    width: 1440px;
    height: 700px;
    margin-top: 40px;


}

.chitiet {
    position: absolute;
    font-size: 30px;
    top: 130px;
    left: 30px;
    color: whitesmoke;
}

.layout p {
    text-align: center;
    margin-top: 15px;
    color: gray;
}



/* form */
.nho {

    margin-right: 390px;

}

.nho input {
    width: 0px;
    height: 100px;

}

.form {
    margin: auto;
    background-color: #fff;
    width: 35%;
    height: 730px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 0;
}

.form .img {
    width: 200px;
    margin: auto;

}

.form img {
    width: 70%;
}

.img .tenlogo {

    color: black;
    text-decoration: none;
    width: 100%;

}

.form h2 {
    margin-top: 30px;
    color: rgb(9, 4, 4);
}

.form label {
    float: left;
    margin: 10px;
    margin-left: 50px;
}

.form input {


    border-radius: 5px;
    text-align: center;
    width: 80%;
    height: 30px;
}

.form button {
    color: white;
    margin-top: 30px;
    width: 80%;
    height: 6%;
    background-color: rgb(28, 28, 144);
    border: 1px solid rgb(28, 28, 144);
    border-radius: 5px;
}

.form button:hover {
    background-color: #242527;
}

.form .dangky {
    color: blue;
    text-decoration: none;
}

.form .dangky:hover {
    text-decoration: underline;
}

/* kiá»ƒm tra form */
#baoloi {
    margin: 0px auto;
    color: red;

}

.loi {
    width: 400px;
    padding: 0px;
    border: 2px solid red;
    background-color: yellow;
}


/* footer */
.footer {
    width: 100%;
    float: left;
    height: 400px;
    padding-top: 12px;
    top: 100px;
}

.footer1 p {
    margin-top: 50px;
    color: #D9D9D9;
}

.footer1 {
    width: 100%;
    float: left;
    margin-top: 50px;
}

.footer1 ul {
    list-style: none;
    float: left;
    font-size: 18px;
    text-transform: uppercase;
}

.footer1 ul li {
    display: inline;
    margin-left: 10px;
    line-height: 45px;
}

.footer1 ul li a {
    text-decoration: none;
    color: gray;
}

.footer1 ul li a:hover {
    color: blueviolet;
  
}

.tieudefooter {
    width: 15%;
    float: left;
    color: #D9D9D9;
    margin-left: 70px;
    margin-top: 20px;
}

.tieudefooter ul {
    list-style-type: none;
}

.tieudefooter ul li a {
    text-decoration: none;
    color: #D9D9D9;
    font-size: 20px;
}

.tieude_footer ul li a i {
    width: 100px;
}

.tieudefooter ul li a:hover {
    text-decoration: none;
    color: rgb(76, 16, 180);
    
}

.footer2 {
    width: 100%;
    height: auto;

}

.logo_footer {
    width: 50%;
    float: left;
}

.logo_footer p {
    color: #D9D9D9;
}

.logo_footer img {
    width: 138px;
    height: 108px;
    margin-left: 600px;
}

.nhan {
    width: 50%;
    float: left;
}

.nhan p {
    margin-top: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #D9D9D9;
}


/* code menu mobile */
.menu_mobile {
    display: none;
    max-width: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 90px;
    margin: auto;

}

.menu_mobile .logo img {
    width: 130px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
}

.menu_mobile p {
    font-size: 14px;
    margin-top: 10px;
}

.menu_mobile ul {
    width: 70%;
    list-style: none;
    float: left;
    font-size: 17px;
    text-transform: uppercase;
    margin-left: 210px;
    margin-top: 0px;

}

.menu_mobile ul li {
    display: inline;
    margin-left: 80px;
    line-height: 45px;
}

.menu_mobile ul li a {

    text-decoration: none;
    color: #fff;


}

.menu_mobile ul li a:hover {
    color: blueviolet;
}

/* mobile */
.mobile {
    display: none;
    max-width: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 90px;
    margin: auto;

}

.mobile .logo img {
    width: 120px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
}

.mobile p {
    font-size: 14px;

}

.mobile .dam {
    color: rgb(9, 15, 175);
}

.mobile>ul.root {
    width: 100%;
    list-style: none;
    float: left;
    margin-top: 30px;
    font-size: 20px;
    margin-left: 70%;
    text-transform: uppercase;



}

.mobile>ul.root>li {

    list-style: none;
    line-height: 30px;
}

.mobile>ul>li>a {

    text-decoration: none;
    color: #fff;


}

.mobile ul li a:hover {
    color: blueviolet;
}

.icon_menu {
    float: right;
    margin-right: 15px;
    color: #FAFAFA;
    margin-top: 15px;
    font-size: 25px;
}

ul.submenu {
    width: 180px;
    background-color: #595757;
    min-height: 100px;
    display: none;


}

ul.submenu li {
    list-style: none;
}

ul.submenu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-indent: 10px;
    border-top: 1px solid #ccc;

}

ul.root>li:hover ul.submenu {
    display: block;
    position: absolute;
}

span {
    margin-left: 10px;
}

/* responsive*/
/* @media (max-width:576px) {} */

@media (max-width:768px) {
    #container {
        height: 1430px;
    }

    #menu {
        display: none;
    }

    .menu_mobile {
        width: 100%;
        display: block;
    }

    .layout {
        width: 768px;
    }

    /* content */

    .form {
        width: 450px;
        margin: auto;
        margin-top: -50px;
        width: 55%;
    }
    .form label{
        margin-left: 10%;
    }
    .nho input{
        margin-left: 25px;
    }


    /* footer */
    .footer {
        position: absolute;
        margin-top: 800px;
        font-size: 16px;
        line-height: 20px;
    }

    .footer1 p {
        margin-top: 50px;
        color: #D9D9D9;
    }

    .footer1 {
        width: 100%;
        float: left;
    }

    .footer1 ul {
        list-style: none;
        float: left;
        font-size: 12px;
        text-transform: uppercase;
    }

    .tieudefooter {
        width: 10%;
        float: left;
        color: #D9D9D9;
        margin-left: 70px;
        margin-top: 30px;
        padding: 10px;
    }

    .tieudefooter2 {
        float: right;
    }

    .cotfooter2 {
        display: none;
    }

    .tieudefooter ul li a {
        text-decoration: none;
        color: #D9D9D9;
        font-size: 15px;
    }



    .footer2 {
        width: 100%;
        height: auto;
    }

    .logo_footer {
        width: 30%;
        float: left;
    }

    .logo_footer p {
        color: #D9D9D9;
    }

    .logo_footer img {
        width: 138px;
        height: 108px;
        margin-left: 200px;
    }

    .nhan {
        width: 50%;
        float: left;
    }

    .nhan p {
        margin-top: 60px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #D9D9D9;
        margin-left: 90px;
    }
}

@media (max-width:576px) {
    #container {
        height: 1500px;
    }
    .menu {
        display: none;
    }

    .menu_mobile {
        display: none;
    }

    .mobile {
        display: block;
    }

    .form {
      margin: auto;
      margin-top: -50px;
      width: 55%;
    }


    .footer {
        position: absolute;
        margin-top: 800px;
        font-size: 16px;
        line-height: 20px;
    }

    .footer1 p {
        margin-top: 50px;
        color: #D9D9D9;
    }

    .footer1 {
        width: 100%;
        float: left;
      

    }

    .footer1 ul {
        list-style: none;
        float: left;
        font-size: 12px;
        text-transform: uppercase;
    }

    .footer1 ul li a {
        font-size: 9px;
    }

    .tieudefooter {
        width: 30%;
        float: left;
        color: #D9D9D9;
        margin-left: 70px;
        margin-top: 0px;
        padding: 10px;
    }

    .tieudefooter2 {
        float: right;
    }

    .cotfooter2 {
        display: none;
    }

    .tieudefooter ul li a {
        text-decoration: none;
        color: #D9D9D9;
        font-size: 10px;
    }



    .footer2 {
        width: 100%;
        height: auto;
    }

    .logo_footer {
        width: 30%;
        float: left;
    }

    .logo_footer p {
        color: #D9D9D9;
    }

    .logo_footer img {
        width: 138px;
        height: 108px;
        margin-left: 150px;
    }

    .nhan {
        width: 50%;
        float: left;

    }

    .nhan p {
        margin-top: 60px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: #D9D9D9;
        margin-left: 110px;
        width: 50%;
    }

}